<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!--set to the required robot type and world-->
  <arg name="robot_type" value="mpo_500"/>
  <arg name="robot_world" value="neo_track1.world"/>
  
  <!--To launch RVIZ set the value to true-->
  <arg name="rviz" value="true"/>

  <!--To launch move base set the value to true-->
  <arg name="autonomous_navigation" value="true"/> 

<!---=================================================================================================================================================================-->

  <!-- Basic Simulation
  Edit path of world file  from mP500 launch file
  from neobotix world to my world 
 <arg name="world_name" value="$(find multi_amr_nectec)/worlds/formation_test_world.world"/>

   -->
  <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_simulation_basic.launch"/>

  <!-- Autonomous Navigation -->
  <group if="$(arg autonomous_navigation)">
      <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_autonomous_navigation.launch"/>
  </group> 

  <!-- RVIZ -->
  <group if="$(arg rviz)">
      <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_rviz.launch"/>
  </group>
  
<!---=================================================================================================================================================================-->


</launch>
