<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <arg name="open_rviz" default="true"/>
  <arg name="open_gazebo" default="true"/>
  <arg name="team_size" value="4"/>
<!--
  <arg name="map_path1" default="$(find turtlebot3_nps)/maps/multi_map.yaml"/>
  <arg name="map_path2" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  
  <arg name="world_path1" default="$(find turtlebot3_nps)/worlds/watkinslab.world"/>
  <arg name="world_path2" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
 -->
 <arg name="map_empty" default="$(find multi_amr_nectec)/maps/map.yaml"/>
 <arg name="emptyworld" default="$(find turtlebot3_gazebo)/worlds/empty.world"/>
  <!-- Map server --> 
 <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_empty)" respawn="false" >
    <param name="frame_id" value="/map" />
  </node>
  <!-- start gazebo --> 
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="default"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg open_gazebo)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
</include>
 <!-- RVIZ  --> 
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
         args="-d $(find multi_amr_nectec)/rviz/4_amr.rviz"/>
  </group>

<!-- AMR 0  -->
  <group ns="amr_0">
    <include file="$(find multi_amr_nectec)/launch/single_amr.launch" >
      <arg name="init_pose_gazebo" value="-x 3 -y 2 -z 0 -Y 0 -P 0 -R 0" />
      <arg name="init_pose_rviz" value="0 0 0 0 0 0" />    
      <arg name="robot_name" value="amr_0" />
    </include>
     <node pkg="multi_amr_nectec" type="get_odom_robot" name="get_odom_robot" output="screen" />
  </group>

<!-- AMR 1  -->
 <group ns="amr_1">
    <include file="$(find multi_amr_nectec)/launch/single_amr.launch" >
      <arg name="init_pose_gazebo" value="-x -2 -y 4 -z 0 -Y 0 -P 0 -R 0" />  
      <arg name="init_pose_rviz" value="0 0 0 0 0 0" /> 
      <arg name="robot_name" value="amr_1" />
    </include> 
    <node pkg="multi_amr_nectec" type="get_odom_robot" name="get_odom_robot" output="screen" /> 
  </group>

<!-- AMR 2   --> 
 <group ns="amr_2">
    <param name="tf_prefix" value="amr_2" />
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="0" />
    <include file="$(find multi_amr_nectec)/launch/single_amr.launch" >
      <arg name="init_pose_gazebo" value="-x -1 -y -2 -z 0 -Y 0" />  
      <arg name="init_pose_rviz" value="0 0 0 0 0 0" />     
      <arg name="robot_name" value="amr_2" />
    </include> 
    <node pkg="multi_amr_nectec" type="get_odom_robot" name="get_odom_robot" output="screen" /> 
  </group>

<!-- AMR 3   -->
 <group ns="amr_3">
   <param name="tf_prefix" value="amr_3" />
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="0" />
    <include file="$(find multi_amr_nectec)/launch/single_amr.launch" >
      <arg name="init_pose_gazebo" value="-x 2 -y -4 -z 0 -Y 0 -P 0 -R 0" />  
      <arg name="init_pose_rviz" value="0 0 0 0 0 0" /> 
      <arg name="robot_name" value="amr_3" />
    </include>
    <node pkg="multi_amr_nectec" type="get_odom_robot" name="get_odom_robot" output="screen" />  
  </group>

  <!--Get position   
<node pkg="multi_amr_nectec" type="position_robot" name="position_robot" output="screen" >
<param name ="team_size" value = "$(arg team_size)" />
</node>
-->

  <!--Get position of VL from fake odom  
 <node pkg="multi_amr_nectec" type="position_vl" name="position_vl" output="screen" />
  -->


 <group ns="vl_robot">
 <!--VL localization -->
 <node pkg="multi_amr_nectec" type="fake_odom_vl" name="fake_odom_vl" output="screen">
  <param name ="default_x" value = "0" />
  <param name ="default_y" value = "0" />
</node>
 <!--transform fake_odom to map   -->
 <node pkg="tf" type="static_transform_publisher" name="vl_odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 20" />
  <!--Get odom from fake robot  -->
<node pkg="multi_amr_nectec" type="get_odom_robot" name="get_odom_robot" output="screen" />

 <!-- Run navigation stack     -->
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <remap from="map" to="/map" />  
    <!-- Costmaps -->
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_local.yaml" command="load" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_global.yaml" command="load" />

    <!-- Global Planner -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/global_planner/NavFnROS/navfnros_planner.yaml" command="load" />

    <!-- Local Planner -->
   <!--  <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/local_planner/dwa_local_planner/dwa_planner.yaml" command="load" />
   -->
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/local_planner/eband_local_planner/eband_planner.yaml" command="load" />

    <!-- Common -->
    <rosparam file="$(find multi_amr_nectec)/config/move_base/move_base/move_base.yaml" command="load" />

  </node>
</group>
</launch>