<launch>
    <arg name="robot_name"/>
    <arg name="init_pose_gazebo"/>
    <arg name="init_pose_rviz"/>
    <arg name="move_forward_only" default="false"/>
    <param name="tf_prefix" value="$(arg robot_name)" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find amr_description)/urdf/amr.urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose_gazebo) -urdf -param robot_description -model $(arg robot_name)" output="screen"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" >
    <!--  <param name="publish_frequency" type="double" value="50.0" / -->
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">      
 <!--<param name="publish_frequency" type="double" value="50.0" / -->
    </node>
 <!--transform odom to map at 50 Hz  or 20 ms-->
 <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="$(arg init_pose_rviz) /map $(arg robot_name)/odom 20" />
    
    <!-- Run navigation stack     -->
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <remap from="map" to="/map" />  
    <!-- Costmaps -->
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_local.yaml" command="load" />
    <rosparam file="$(find multi_amr_nectec)/config/move_base/costmaps/costmap_global.yaml" command="load" />

    <!-- Global Planner -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/global_planner/NavFnROS/navfnros_planner.yaml" command="load" />

    <!-- Local Planner -->
   <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <param name="controller_frequency" value="2.9"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/local_planner/dwa_local_planner/dwa_planner.yaml" command="load" />
    -->
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>
    <rosparam file="$(find multi_amr_nectec)/config/move_base/local_planner/eband_local_planner/eband_planner.yaml" command="load" />

    <!-- Common -->
    <rosparam file="$(find multi_amr_nectec)/config/move_base/move_base/move_base.yaml" command="load" />

  </node>

        <!--Localization  
     <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>
     -->


</launch>
