<launch>
    <arg name="robot_name"/>
    <arg name="robot_colour"/>
    <arg name="init_pose_gazebo"/>
    <arg name="init_pose_rviz"/>
    <arg name="move_forward_only" default="false"/>

    <param name="tf_prefix" value="$(arg robot_name)" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find amr_description)/urdf/amr.urdf_$(arg robot_colour).xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose_gazebo) -urdf -param robot_description -model $(arg robot_name)" output="screen"/>
   
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  <param name="rate" value="100.0"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  <param name="publish_frequency" value="100.0"/>
  </node>
  <!-- Run fake localization compatible with AMCL output 
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" />
 -->
 <!--transform odon to map at 50 Hz  or 20 ms-->
 <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="$(arg init_pose_rviz) /map $(arg robot_name)/odom 10" />

</launch>
